version: "3.8"
services:
  app :
    build: ./app/
    ports:
      - "5000:5000"
  db:
    build: db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=metrics_db
    volumes:
      - ./db/create_fixtures.sql:/docker-entrypoint-initdb.d/init.sql
